	<header class=" animated fadeIn headroom">
		<nav>
			<ul>
				<li> 
          <%= link_to '#' do %>
            <%= image_tag('question.svg', alt: 'What is this?', class: 'top-button') %>
          <% end %>
				</li>
				<li> 
          <%= link_to 'Secret Sounds', '#' %>
				</li>
				<li> 
          <%= link_to '#' do %>
            <%= image_tag('record.svg', alt: 'What is this?', class: 'top-button') %>
          <% end %>
				</li>
			</ul>	
		</nav>
	</header>		

