	<header class=" animated fadeIn headroom">
		<header>
			<ul>
				<li> 
          <%= link_to '#' do %>
            <%= image_tag('question.svg', alt: 'What is this?', class: 'top-button') %>
          <% end %>
				</li>
				<li>
				<div class="record-window"> 
          			<div class="wave-form">
                  <canvas id="analyser"></canvas>
          				<!--<%= link_to 'Sound Secrets', '#' %>-->
          			</div>
          			<div class="record-countdown">
          			</div>
      			</div>
				</li>
				<li> 
          <%= link_to '#', onclick: "startRecording(this)" do %>
            <%= image_tag('record.svg', alt: 'What is this?', class: 'top-button') %>
          <% end %>

          <%= link_to '#', onclick: "stopRecording(this)" do %>
            <%= image_tag('record.svg', alt: 'What is this?', class: 'top-button') %>
          <% end %>

				</li>
			</ul>	
		</header>
	</header>		

